/*  
    Movie Reviews Website
    Started on 21 Jul 2016
    By Quan You
*/


/* Gobal */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* Using System UI Fonts - Currenty not in use */
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */
    color: #95a5a6;
    background-color: #131519;
}

h1,
h2,
h3 {
    color: white;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: inherit;
}

footer {
    clear: both;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

footer p {
    display: inline-block;
    margin-bottom: 15px;
}

section {
    clear: both;
}

abbr {
    border-bottom: 1px dotted #95a5a6;
}

hr {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin: 15px 0;
    clear: both;
}


/* Input */

input[type=search] {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    height: 32px;
    color: white;
    text-indent: 20px;
}

input[type=search]:focus {
    outline: 0;
}

input[type=name] {
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    text-indent: 20px;
    border: 0;
    border-radius: 3px;
    color: white;
}

input[type=email] {
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    text-indent: 20px;
    border: 0;
    border-radius: 3px;
    color: white;
}

textarea {
    background: rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    margin-top: 10px;
    text-indent: 15px;
    width: 295px;
    border: 0;
    border-radius: 3px;
    color: white;
    line-height: 1.5em;
}


/* Important */

.container {
    /* Main container for Large Device | Currently Useless | But use as a fallback */
    max-width: 88%;
    /* Disable zoom ATM */
    min-width: 1100px;
    /* Main container width */
    width: 1100px;
    margin: 0 auto;
}


/* Make Life Easier */

.text-center {
    text-align: center;
}


/* Normal Class */

.brand {
    display: block;
    margin: 30px 0;
    width: 150px;
}

.search {
    width: 200px;
    float: right;
}


/* Navbar */

nav {
    margin-bottom: 25px;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #fff;
    opacity: 0.35;
}

nav ul li {
    display: inline-block;
    padding: 20px 25px 20px 0;
}

nav ul li a {
    color: #292c36;
    text-decoration: none;
    padding: 20px 0;
}

nav ul li a:hover {
    color: inherit;
    text-decoration: none;
}


/* Buttons */

.btn {
    padding: 10px 18px;
    border: 0;
    border-radius: 3px;
}

.btn-small {
    padding: 4px 10px;
    background-color: inherit;
    border: 1px solid #4c4d55;
    border-radius: 3px;
    float: right;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.btn-block {
    display: block;
    width: 100%;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    padding: 16px 0;
    color: inherit;
    border-radius: 3px;
}

.row {
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: 15px;
}

.thumbnail {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

.thumbnail h3,
.thumbnail p,
.thumbnail .ratings {
    line-height: 5px;
}

.thumbnail img {
    width: 162.85px;
    height: 255px;
}

.thumbnail img:hover {
    opacity: 0.85;
}

.thumbnail h3 {
    font-size: 1.1em;
}

.poster img {
    width: 207px;
    height: 315px;
    margin: 0 20px 20px 0;
    float: left;
}

.ratings {
    color: rgba(255, 255, 255, 0.3);
}

.ratings .rated {
    color: white;
}

h2 small {
    font-size: 12px;
    vertical-align: middle;
    padding: 5px 10px;
    margin-left: 12px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    color: #333;
}

p small {
    font-size: 12px;
    vertical-align: middle;
    padding: 5px 10px;
    margin-left: 12px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    color: #333;
}

.suggest {
    display: block;
    text-align: center;
    border: 1px solid #4c4d55;
    border-radius: 3px;
    padding: 20px 0;
    margin: 20px 0;
    width: 100%;
    clear: both;
}

.description {
    width: 525px;
    text-align: justify;
    float: left;
    margin-right: 20px;
}

.movie-extra {
    width: 328px;
    display: inline-block;
    float: right;
}

.directors img {
    width: 55px;
    border-radius: 100%;
}

.directors img:hover {
    opacity: 0.65;
}

.avatar {
    text-align: center;
    display: inline-block;
    margin-right: 12px;
}


/* Sub Navs */

.breadcrumb {
    margin: 27px 0;
}

.breadcrumb a+a:before {
    padding: 0 20px;
    color: rgba(111, 111, 111, 0.8);
    content: "/\00a0";
}

.genre-nav {
    margin: 27px 0;
}

.genre-nav a+a:before {
    padding: 0 20px;
    color: rgba(111, 111, 111, 0.8);
    content: "|\00a0";
}

.tab {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    width: 50px;
    opacity: 0.35;
    text-align: center;
    display: inline-block;
    color: black;
}

.card {
    border: 1px solid rgba(76, 77, 85, 0.5);
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 0 0 14px 0px;
    border-radius: 3px;
}

.card img {
    width: 140px;
    height: 212px;
    margin: 0 15px 0 0;
    float: left;
}

.card-rating {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 10px;
    color: lightgrey;
    border-bottom: 1px solid rgba(76, 77, 85, 0.5);
    border-left: 1px solid rgba(76, 77, 85, 0.5);
}

.col-6 {
    width: 48.2%;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

.video {
    border: 5px solid rgba(255, 255, 255, 0.1);
    border-top: 0;
}

.video-info {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
}

.video-info h3 {
    display: inline;
}

.video-info p {
    float: right;
    margin: 0;
    color: white;
}

.card:hover {
    background-color: #22252d;
    color: white;
}

#contact {
    width: 300px;
}

#contact button {
    width: 100%;
}


/*  === Sections | Social Links Section === */

#social-links {
    clear: both;
    margin-top: 20px;
}

#social-links .slink {
    padding: 25px 0;
    width: 50%;
    float: left;
}

#social-links .facebook {
    text-align: center;
    color: white;
    background-color: #3b5998;
}

#social-links .twitter {
    text-align: center;
    color: white;
    background-color: #55acee;
}

#social-links .facebook:hover {
    color: white;
    background-color: rgba(59, 89, 152, 0.8);
}

#social-links .twitter:hover {
    color: white;
    background-color: rgba(85, 172, 238, 0.8);
}


/* Banner Section */

#banner {
    font-size: 170%;
    line-height: 20px;
    padding: 75px;
    background-color: #252525;
    background-image: url(../img/poster/howl.jpg);
    background-size: cover;
    background-position: 0 -810px;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px black;
}

#banner h1 {
    font-weight: normal;
}

#banner p {
    color: white;
    font-size: 75%;
}


/* Subscription Section */

#subscription {
    text-align: center;
    padding: 20px 0;
}

#subscription input {
    height: 34px;
    width: 250px;
}

#subscription button {
    height: 36px;
    padding: 0 14px;
    border: 1px solid #555;
    border-radius: 3px;
    background-color: transparent;
    color: white;
}

#subscription button:hover {
    background-color: #555;
}


/* Genre Section */

#genre .col-6 {
    width: auto;
    margin-left: auto;
}

.genre-type {
    text-align: center;
    float: left;
    margin-right: 90px;
}

.genre-type img {
    width: 78px;
}

.genre-type p {
    margin-top: 0;
}

.genre-type a {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 6px 10px;
    border-radius: 3px;
}

.genre-poster {
    float: left;
    line-height: 5px;
    margin-bottom: 15px;
}

.genre-poster img {
    width: 172px;
    height: 264px;
    margin-left: -76.6px;
}


/* Trailer Section */

#trailer .title {
    background-color: white;
    opacity: 0.35;
    text-align: center;
    padding: 15px 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: black;
}

#trailer-box {
    border: 10px solid rgba(255, 255, 255, 0.35);
    border-radius: 0 0 3px 3px;
    border-top: 0;
    width: 98.2%;
}


/* Reviews Section */

#reviews .comment {
    margin-top: 20px;
    padding: 20px;
    background-color: pink;
    /* Fallback */
    background-color: rgba(255, 255, 255, 0.2);
}

#reviews .comment:hover {
    box-shadow: 0 0 10px rgba(000, 000, 000, 0.22);
    35px
}

#reviews .comment p {
    margin: 0;
}

#reviews span {
    color: white;
}

#reviews .comment:nth-child(even) {
    border-radius: 35px 0 35px 35px;
}

#reviews .comment:nth-child(odd) {
    border-radius: 0 35px 35px 35px;
    text-align: right;
}

#reviews button {
    float: right;
    padding: 12px 16px;
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0;
    border-radius: 3px;
    color: white;
}


/* === End of Section === */


/* Text Variants */

.dark {
    color: #252525;
}

.dark h2,
.dark h3 {
    color: #252525;
}

.grey {
    color: #5a5a5a;
}

.grey h2,
.grey h3 {
    color: #5a5a5a;
}

.light {
    color: #bdc3c7;
}

.light h2,
.light h3 {
    color: #eee;
}

.light hr {
    border-color: rgba(255, 255, 255, 0.4);
}


/*
 * Universal Background 
*/


/* Red Poster*/

.bgred {
    background: linear-gradient(#520105, #bc0707);
}


/* Cool Night Poster*/

.bgcool {
    background: linear-gradient(#0a5781, #0a1f38);
}


/* Normal Night Poster*/

.bgnight {
    background: linear-gradient(#021d26, #084659);
}


/* Cotton Candy Poster*/

.bgcandy {
    background: linear-gradient(#e0bfea, #7fb3f2);
}


/* Cloud Scene Poster*/

.bgcloud {
    background: linear-gradient(#7199dd, #beaad0);
}


/* Space Black Poster*/

.bgspace {
    background: linear-gradient(#272727, #101010);
}


/* Yellow Poster*/

.bgyellow {
    background: linear-gradient(#edc30c, #e6d14e);
}


/* Green Poster*/

.bgforest {
    background: linear-gradient(#48bbcd, #6b9a5d);
}


/* Sandy Poster*/

.bgsand {
    background: linear-gradient(#3e464d, #4d6b73);
}


/* Evening Poster*/

.bgevening {
    background: linear-gradient(#6570c9, #ffd6aa);
}


/* Science Fiction Poster*/

.bgscifi {
    background: linear-gradient(#080705, #2f4a5f);
}


/* Science Fiction Poster*/

.bgaction {
    background: linear-gradient(#37506d, #a24441);
}


/* Angry Poster*/

.bgangry {
    background: linear-gradient(#960908, #f16e18);
}


/* More */

.notes {
    background: rgba(000, 000, 000, 0.5);
    color: white;
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 16px;
    max-width: 400px;
    border-radius: 200px
}


/* Media */

@media (max-width: 578px) {
    nav {
        text-align: center;
    }
    #banner {
        background-position: top;
    }
}


/* Testing Stage */

.notes {
    background: rgba(000, 000, 000, 0.5);
    color: white;
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 16px;
    max-width: 400px;
    border-radius: 200px
}

.box {
    margin: 10px 0;
    width: 100%;
    height: 98px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.grid-10 {
    width: 8.2%;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}